.container-fluid.banner
  .container
    h1.text-center {{event.name}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-4
      .well
        h3 Details
        ul
          li Date: {{event.date}}
          li Time: {{event.time}}
          li Location: {{event.location}}
      
      .well
        h3 Actions
        ul
          li
            button.btn.btn-raised.btn-primary(ng-click='favorite()', ng-if='!event.favorited') Favorite
            button.btn.btn-raised.btn-warning(ng-click='favorite()', ng-if='event.favorited') Unfavorite
          li
            button.btn.btn-raised.btn-primary Share
          li
            a.btn.btn-raised(target="_new", href='{{twitterUrl}}')
              | Tweet
          li
            a.btn.btn-raised(target="_new", ng-href='{{facebookUrl}}')
              | Facebook
          li
            button.btn.btn-raised.btn-primary(type='button', data-toggle='modal', data-target='#contact') Contact

    .col-md-8
      .well(style="height:250px", ng-if='event.media')
        .col-md-3(ng-repeat="photo in event.media", ng-if='$index % 5 === 3')
          img(ng-src="{{photo}}", style="width:100%;")
      .well
        h3 Description
        p {{event.description}}

      comments(item-id='event._id')
      
// Modals
#contact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title.w-100 Contact
      .modal-body
        form.col.s12
          .row
            .form-group.col.s6
              label(for='first_name') First Name
              input#first_name.validate.form-control(type='text', ng-model="contactDetails.first_name")
            .form-group.col.s6
              label(for='last_name') Last Name
              input#last_name.validate.form-control(type='text', ng-model="contactDetails.last_name")
          .row
            .form-group.col.s12
              label(for='email') Email
              input#email.validate.form-control(type='email', ng-model="contactDetails.email")
          .row
            .col.s12.form-group
              label(for='message') Message
              textarea#message.validate.form-control(type='message', ng-model="contactDetails.message")
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button', ng-click='sendContact()', data-dismiss="modal") Save changes
