.container-fluid.banner
  .container
    h1.text-center {{event.name}}

.container-fluid.container-detail
  .container
    .row
      .col-md-9
        .well.img-feature-wrapper
          div.img-feature(style="background-image:url({{event.facebook.cover}})")
      //- .col-md-9
      //-   div
      //-     h3
      //-       | {{event.start_time | date : "medium"}} - {{event.end_time | date : "medium"}}
      .col-md-3
        button.btn.btn-raised.btn-primary(type='button', data-toggle='modal', data-target='#contact') Contact
        button.btn.btn-raised.btn-primary.btn-favorite(ng-click='favorite()', ng-if='!event.favorited')
          i(style="font-size: 2rem;").material-icons star_border
        button.btn.btn-raised.btn-primary.btn-favorite-active(ng-click='favorite()', ng-if='event.favorited')
          i(style="font-size: 2rem;").material-icons star
.container(style="margin-top: 2rem;")
  .row
    .col-md-9
      //- .well(style="height:250px", ng-if='event.media')
      //-   .col-md-3(ng-repeat="photo in event.media", ng-if='$index % 5 === 3')
      //-     img(ng-src="{{photo}}", style="width:100%;")
      .well
        h3 Description
        p(style="white-space: pre-wrap;") {{event.description}}

      comments(item-id='event._id')
    .col-md-3
      .well
        h3 Details
        ul
          li Start: {{event.start_time | date : "medium"}}
          li End: {{event.end_time | date : "medium"}}
          li Location: {{event.place.name}}
          li 
            a(href="https://facebook.com/events/{{event.id}}", target="_blank") Webpage 
      .well
        a.btn.btn-block.btn-raised.btn-facebook(target="_new", ng-href='{{facebookUrl}}')
          i.fa.fa-facebook-official
          |  Share
        a.btn.btn-block.btn-raised.btn-twitter(target="_new", href='{{twitterUrl}}')
          i.fa.fa-twitter-square
          |  Tweet

include ../modals/contact
