.container-fluid.banner
  .container
    h1.text-center {{event.name}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-4
      .well
        h3 Details
        ul
          li Date: {{event.date}}
          li Time: {{event.time}}
          li Location: {{event.location}}
      
      .well
        h3 Actions
        ul
          li
            button.btn.btn-raised.btn-primary Favorite
          li
            button.btn.btn-raised.btn-primary Share
          li
            button.btn.btn-raised.btn-primary Contact

    .col-md-8
      .well(style="height:250px", ng-if='event.media')
        .col-md-3(ng-repeat="photo in event.media", ng-if='$index % 5 === 3')
          img(ng-src="{{photo}}", style="width:100%;")
      .well
        h3 Description
        p {{event.description}}
