.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Shelters
    
    .form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    //- .form-group.col-md-2
    //-   label Type
    //-   br
    //-   select.form-control(ng-model='filters.type', 
    //-     ng-options="type.name for type in eventTypes track by type.id")
    //-       option(value="") - Select Option -

    .form-group.col-md-2
      button.btn.btn-primary.btn-raised(ng-click='filter()') Filter

.container
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1")
    div.col-md-4.grid-item(ng-repeat="shelter in shelters", style='400px;')
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/shelters/{{shelter._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{shelter.name}}
          .card-body
            p {{shelter.description | limitTo: 140}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/shelters/{{shelter._id}}') 
              | Learn More
