.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Shelters
    
    .form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    //- .form-group.col-md-2
    //-   label Type
    //-   br
    //-   select.form-control(ng-model='filters.type', 
    //-     ng-options="type.name for type in eventTypes track by type.id")
    //-       option(value="") - Select Option -

    .form-group.col-md-2
      button.btn.btn-primary.btn-raised(ng-click='filter()') Filter

.container
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1")
    div.col-md-4.grid-item(ng-repeat="shelter in shelters", style="height:200px; overflow:hidden; border-radius: 5px;")
      a(href='/shelters/{{shelter._id}}')
        .grid-content.gradient(ng-if='!shelter.facebook.cover')
          h3 {{shelter.name}}
          h5 {{shelter.description | limitTo: 140}}
        .grid-content.image-display(ng-if='shelter.facebook.cover', style='background-image:url({{shelter.facebook.cover}})')
          h3 {{shelter.name}}
          h5 {{shelter.description | limitTo: 140}}
