// @TODO: Move to directive
.well.col-md-12(ng-controller='CommentListCtrl')
  h3.col-md-12 Comments
  .col-md-12
    textarea.form-control.col-md-8(placeholder="What do you think?", ng-model='commentText')
    button.btn.btn-raised.pull-right(ng-click='addComment(commentText)') Send
  div.col-md-12(ng-repeat='comment in comments') {{comment.text}}
