.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Favorites

.row(ng-if='favorites.length === 0')
  .col-md-6.col-md-offset-3.well
    h2.text-center No messages yet!

div.row  
  div.col-md-6.col-md-offset-3
    .list-group(ng-repeat="favorite in favorites")
      .list-group-item
        .row-picture(ng-if='favorite.petID.media[3]')
          img.circle(ng-src='{{favorite.petID.media[3]}}', alt='icon')
        .row-picture(ng-if='!favorite.petID.media[3]')
          img.circle(ng-src='../images/kibbl-logo-dog.png', alt='icon')
        .row-content
          h4.list-group-item-heading {{favorite.petID.name}}
          p.list-group-item-text {{favorite.petID.description | limitTo:140}}
          a.btn.btn-flat.btn-raised.btn-primary(href='/pets/{{favorite.petID._id}}') View
          a.btn.btn-flat.btn-raised.btn-warning(ng-click='unfavorite(favorite.petID._id, $index)') Unfavorite
      .list-group-separator
