div.row  
  div.col-md-6.col-md-offset-3
    h2 Favorites
    .list-group(ng-repeat="favorite in favorites")
      .list-group-item
        .row-picture
          img.circle(src='http://lorempixel.com/56/56/people/1', alt='icon')
        .row-content
          h4.list-group-item-heading Tile with avatar
          p.list-group-item-text Donec id elit non mi porta gravida at eget metus
      .list-group-separator