.container-fluid.banner
  .container
    img.banner-logo(src="/images/kibbl-logo.svg", alt="Kibbl Logo")
    h2.text-center(style='color:#fff;') Helping animals made easy

.container-fluid.how-section
  .container
    .how-title
      .h2.text-center How to Kibbl

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Find What You Want
      p.text-center find volunteer, events, pets and shelters
    
    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Get Notified
      p.text-center Subscribe to shelters to get notified about activity

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Communicate
      p.text-center Send messages to talk with shelters

.container.new-section
  div.row
      h2.text-center Latest Events
      .col-md-12.text-center
        a.btn.btn-flat.btn-primary(href='/events') View More
      .col-md-12.text-center
        .loader(ng-if='loading') Loading...
      div.col-md-4.grid-item(ng-repeat="event in events", style="height:200px; overflow:hidden; border-radius: 5px;")
        a(href='/events/{{event._id}}')
          .grid-content.gradient(ng-if='!event.facebook.cover')
            h3 {{event.name}}
            h5 {{event.start_time | date : "medium" }}
          .grid-content.image-display(ng-if='event.facebook.cover', style='background-image:url({{event.facebook.cover}})')
            h3 {{event.name}}
            h5 {{event.start_time | date : "medium" }}

  //- div.row
  //-   h2.text-center Latest Volunteer Opportunities
  //-   .col-md-12.text-center
  //-     a.btn.btn-flat.btn-primary(href='/volunteer') View More
  //-   div.col-md-4.grid-item(ng-repeat="opportunity in opportunities")
  //-     .card
  //-       .card-height-indicator
  //-       .card-content
  //-         .card-image
  //-           a(href='/volunteer/{{opportunity._id}}', style='display:block')
  //-             img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
  //-           h3.card-image-headline {{opportunity.name}}
  //-         .card-body
  //-           p {{opportunity.description | limitTo: 140}}
  //-         footer.card-footer
  //-           a.btn.btn-flat.btn-primary(href='/volunteer/{{opportunity._id}}') 
  //-             | Learn More

  div.row
    h2.text-center Latest Pets
    .col-md-12.text-center
      a.btn.btn-flat.btn-primary(href='/pets') View More
    .col-md-12.text-center
      .loader(ng-if='loading') Loading...
    div.col-md-4.grid-item(ng-repeat="pet in pets", style="height:200px; overflow:hidden; border-radius: 5px;")
      a(href='/pets/{{pet._id}}')
        .grid-content.gradient(ng-if='!pet.media[3]')
          h3 {{pet.name}}
          h5 {{pet.description | limitTo: 140}}
        .grid-content.image-display(ng-if='pet.media[3]', style='background-image:url({{pet.media[3]}})')
          h3 {{pet.name}}
          h5 {{pet.description | limitTo: 140}}

  div.row
    h2.text-center Latest Shelters
    .col-md-12.text-center
      a.btn.btn-flat.btn-primary(href='/shelters') View More
    .col-md-12.text-center
      .loader(ng-if='loading') Loading...
    div.col-md-4.grid-item(ng-repeat="shelter in shelters", style="height:200px; overflow:hidden; border-radius: 5px;")
      a(href='/shelters/{{shelter._id}}')
        .grid-content.gradient(ng-if='!shelter.facebook.cover')
          h3 {{shelter.name}}
          h5 {{shelter.description | limitTo: 140}}
        .grid-content.image-display(ng-if='shelter.facebook.cover', style='background-image:url({{shelter.facebook.cover}})')
          h3 {{shelter.name}}
          h5 {{shelter.description | limitTo: 140}}
