.container-fluid.banner
  .container
    h1.text-center Kibbl
    //- p.text-center
    //-   | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.

.container-fluid.how-section
  .container
    .how-title
      .h2.text-center How to Kibbl
      p.text-center Helpings animals made easy.

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Find What You Want
      p.text-center find volunteer, events, pets and shelters
    
    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Get Notified
      p.text-center Subscribe to shelters to get notified about activity

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Communicate
      p.text-center Send messages to talk with shelters

.container
  div.row
    h2 Latest Volunteer Opportunities
    div.col-md-4.grid-item(ng-repeat="opportunity in opportunities")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/1', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          footer.card-footer
            button.btn.btn-flat Share
            button.btn.btn-flat.btn-warning Learn More

  div.row
    h2 Latest Events
    div.col-md-4.grid-item(ng-repeat="opportunity in events")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/1', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          footer.card-footer
            button.btn.btn-flat Share
            button.btn.btn-flat.btn-warning Learn More

  div.row
    h2 Latest Pets
    div.col-md-4.grid-item(ng-repeat="opportunity in pets")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/1', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          footer.card-footer
            button.btn.btn-flat Share
            button.btn.btn-flat.btn-warning Learn More

  div.row
    h2 Latest Shelters
    div.col-md-4.grid-item(ng-repeat="opportunity in shelters")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/1', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          footer.card-footer
            button.btn.btn-flat Share
            button.btn.btn-flat.btn-warning Learn More