.container-fluid.banner
  .container
    img.banner-logo(src="/images/kibbl-logo.svg", alt="Kibbl Logo")

.container-fluid.how-section
  .container
    .how-title
      .h2.text-center How to Kibbl
      p.text-center Helpings animals made easy.

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Find What You Want
      p.text-center find volunteer, events, pets and shelters
    
    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Get Notified
      p.text-center Subscribe to shelters to get notified about activity

    .col-md-4
      .text-center
        span.how-icon
      .h3.text-center Communicate
      p.text-center Send messages to talk with shelters

.container
  div.row
      h2 Latest Events
      div.col-md-4.grid-item(ng-repeat="event in events")
        .card
          .card-height-indicator
          .card-content
            .card-image
              a(href='/events/{{event._id}}', style='display:block')
                img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
              h3.card-image-headline {{event.name}}
            .card-body
              p {{event.description | limitTo: 140}}
            footer.card-footer
              a.btn.btn-flat.btn-primary(href='/events/{{event._id}}') 
                | Learn More

  div.row
    h2 Latest Volunteer Opportunities
    div.col-md-4.grid-item(ng-repeat="opportunity in opportunities")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/{{opportunity._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p {{opportunity.description | limitTo: 140}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/volunteer/{{opportunity._id}}') 
              | Learn More

  div.row
    h2 Latest Pets
    div.col-md-4.grid-item(ng-repeat="pet in pets")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/pets/{{pet._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{pet.name}}
          .card-body
            p {{pet.description | limitTo: 140}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/pets/{{pet._id}}') 
              | Learn More

  div.row
    h2 Latest Shelters
    div.col-md-4.grid-item(ng-repeat="shelter in shelters")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/shelters/{{shelter._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{shelter.name}}
          .card-body
            p {{shelter.description | limitTo: 140}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/shelters/{{shelter._id}}') 
              | Learn More
