doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css")
    link(type="text/css" rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css")

  body(ng-app="PetApp")
    
    include ./nav
        
    block content
    
    hr.featurette-divider

    footer.footer.container
      p.pull-right
        a(href='#') Back to top
      p
        | © 2016 Company, Inc. · 
        a(href='#') Privacy
        |  · 
        a(href='#') Terms

  
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/bootstrap-material-design/dist/js/material.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    
    
    script(src="javascripts/app.js")
    script(src="javascripts/controllers/petCtrl.js")
    script(src="javascripts/controllers/petDetailCtrl.js")
    script(src="javascripts/controllers/favoriteListCtrl.js")
    script(src="javascripts/volunteer/Volunteer.js")
    script(src="javascripts/volunteer/VolunteerCtrl.js")
    script(src="javascripts/volunteer/VolunteerDetailCtrl.js")
    script(src="javascripts/events/Event.js")
    script(src="javascripts/events/EventListCtrl.js")
    script(src="javascripts/events/EventDetailCtrl.js")
