doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  body(ng-app="PetApp")
    block content
  
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    
    script(src="javascripts/app.js")
    script(src="javascripts/controllers/petCtrl.js")
    script(src="javascripts/controllers/petDetailCtrl.js")
