section.container
  div.col-md-6.col-md-offset-3
    .card
      .card-height-indicator
      .card-content
        .card-body(style='height:auto;')
           h2 Login
           form
            .form-group.input-field
              label Email
              input.form-control(type='text', name='email', ng-model='email')
            .form-group.input-field
              label Password
              input.form-control(type='password', name='password', ng-model='password')
        footer.card-footer
          button.btn.btn-warning.btn-lg(type='submit', ng-click='login()') Login
     
      //- .card-action
      //-   a.btn.btn-primary.btn-lg(href="/auth/facebook")
      //-     span.fa.fa-facebook
      //-       | Facebook
      //-   a.btn.btn-primary.btn-lg(href="/auth/twitter")
      //-     span.fa.fa-twitter
      //-       | Twitter
      //-   a.btn.btn-primary.btn-lg(href="/auth/google")
      //-     span.fa.fa-google-plus
      //-       | Google
      //-   p
      //-     | Need an account? 
      //-     a(href='/signup') Signup
      
