.navbar.navbar-default.navbar-fixed-top.main-nav(ng-controller='NavCtrl')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(style="overflow: hidden;")
				div.logo1
				div.logo2
		.navbar-collapse.collapse.navbar-responsive-collapse(style='max-height: 4000px;')
			ul.nav.navbar-nav
				li(ng-class="{ active: isActive('') }")
						a(href="/home")
							| Home
				li(ng-class="{ active: isActive('events') }")
					a(href="/events")
						| Events
						.ripple-container
				//- li(ng-class="{ active: isActive('volunteer') }")
				//- 	a(href="/volunteer")
				//- 		| Volunteer
				li(ng-class="{ active: isActive('pets') }")
					a(href="/pets")
						| Pets
						.ripple-container
				li(ng-class="{ active: isActive('shelters') }")
					a(href="/shelters")
						| Shelters
						.ripple-container
			//- form.navbar-form.navbar-left
			//- 	.form-group.is-empty
			//- 		input.form-control.col-sm-8(type='text', placeholder='Search')
			ul.nav.navbar-nav.navbar-right
				li.dropdown(ng-if='::!isLoggedIn()')
					a(href="/register") Register
				li.dropdown(ng-if='::!isLoggedIn()')
					a(href="/login") Login
				li.dropdown(ng-if='::isLoggedIn()')
					a.dropdown-toggle(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						| Profile
						b.caret
					ul.dropdown-menu
						li
							a(href="/favorites") Favorites
						li
							a(href="/notifications") Notifications
						//- li
						//- 	a(href="/messages") Messages
						li
							a(href="/feedback") Submit Feedback
						li.divider
						li
							a(href="#", ng-click='logout()') Logout
