.navbar.navbar-default.main-nav
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
			span.icon-bar
			span.icon-bar
			span.icon-bar
			a.navbar-brand Kibbl
		.navbar-collapse.collapse.navbar-responsive-collapse
			ul.nav.navbar-nav
				{{$location.path()}}
				li(ng-class="{ active: $location.path() === '/home' }")
						a(href="/home")
							| Home
				li(ng-class="{ active: $location.path() === '/volunteer' }")
					a(href="/volunteer")
						| Volunteer
				li
					a(href="/events")
						| Events
						.ripple-container
				li
					a(href="/pets")
						| Pets
						.ripple-container
				li
					a(href="/shelters")
						| Shelters
						.ripple-container
			//- form.navbar-form.navbar-left
			//- 	.form-group.is-empty
			//- 		input.form-control.col-sm-8(type='text', placeholder='Search')
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						| Profile
						b.caret
					ul.dropdown-menu
						li
							a Favorites
						li.divider
						li
							a Messages