.navbar.navbar-default
    .container
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
        a.navbar-brand Kibbl
    .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
            li.active
                a(href="/volunteer")
                    | Volunteer
            li
                a
                    | Events
                    .ripple-container
            li
                a
                    | Pets
                    .ripple-container
            li
                a
                    | Shelters
                    .ripple-container
        form.navbar-form.navbar-left
            .form-group.is-empty
                input.form-control.col-sm-8(type='text', placeholder='Search')
        ul.nav.navbar-nav.navbar-right
            li
                a Link
            li.dropdown
                a.dropdown-toggle(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html', data-target='#', data-toggle='dropdown')
                    | Dropdown
                b.caret
                ul.dropdown-menu
                    li
                        a Action
                    li
                        a Another action
                    li
                        a Something else here
                    li.divider
                    li
                        a Separated link