div.row(style="min-height:100px;")  
  div.form-group.col.s2
    label Location
    input(ng-model='filters.location', type='text')
  
  div.col.s2(input-field='')
    select(ng-model='filters.type', material-select='', watch='')
      option(ng-repeat='value in petTypes') {{value}}
    label Type
  
  .input-field.col.s2
    label Breed
    input(ng-model='filters.breed', type='text')
  
  div.col.s2(input-field='')
    select(ng-model='filters.age', material-select='', watch='')
      option(ng-repeat='value in petAges') {{value}}
    label Age
  
  
  div.col.s2(input-field='')
    select(ng-model='filters.gender', material-select='', watch='')
      option(ng-repeat='option in petGenders', value="{{option.value}}") {{option.key}}
    label Gender
  
//- @TODO: We need to show pets that have no photo!
div.row
  div.col.s4.pet-grid-item(ng-repeat="pet in pets", ng-if="pet.media.photos.photo[3].t")
    .card
      a(href="#/pets/{{pet._id}}")
        .card-image(style="height:300px;overflow:hidden;")
          img(src='{{pet.media.photos.photo[3].t}}')
          span.card-title {{pet.name.t}}
      .card-content
        div(style="height:150px;overflow:hidden;")
          {{pet.description.t}}
      .card-action
        .row
          //- button.btn.waves-effect.waves-light.red.lighten-3(href="mailto:{{pet.contact.email.t}}", data-toggle="modal", data-target="#petModel-{{pet._id}}") Contact
          //- .col.m3
          //-   button.waves-effect.waves-light.btn.modal-trigger(href='#petModel', ng-click="selectPet(pet)") Contact
          .col.m3
            //- a.btn.waves-effect.waves-light.red.lighten-3.modal-trigger(href="#petDonate") Donate
          .col.m3
            if(user)
              a.favorited(ng-click="favorite(pet._id, $index)", style="width: 40px;", ng-class="{active: pet.userFavorited}")
                i.small.material-icons star_rate
            else
              a.favorited.modal-trigger(href='#loginModel', ng-click="isFavoriting = true; setPetToFavorite(pet._id, $index)", style="width: 40px;")
                i.small.material-icons star_rate
              
.modal.modal-fixed-footer(id="loginModel")
  .modal-content
    h4 Login
    .row
      form.col.s12
        .row
          .input-field.col.s12
            input#email.validate(type='email', ng-model="loginDetails.email")
            label(for='email') Email
          .input-field.col.s12
            input#last_name.validate(type='password', ng-model="loginDetails.password")
            label(for='last_name') Password
  .modal-footer
    a.modal-action.waves-effect.red.lighten-3.btn-flat(ng-click="login()") Login

.modal.modal-fixed-footer(id="petModel")
  .modal-content
    h4 Inquiry to Adopt: {{selectedPet.name.t}}
    .row
      form.col.s12
        .row
          .input-field.col.s6
            input#first_name.validate(type='text', ng-model="contactDetails.first_name")
            label(for='first_name') First Name
          .input-field.col.s6
            input#last_name.validate(type='text', ng-model="contactDetails.last_name")
            label(for='last_name') Last Name
        .row
          .input-field.col.s12
            input#email.validate(type='email', ng-model="contactDetails.email")
            label(for='email') Email
        .row
          .col.s12
            label(for='message') Message
            textarea#message.validate(type='message', ng-model="contactDetails.message")
            
.modal.modal-fixed-footer(id="petDonate")
  .modal-content
    h4 Donate to Adopt: {{selectedPet.name.t}}
    .row
      div
        | Thanks for helping the animals. Your donation will go a long way to help the [insert-animal-shelter]
        | Please note that we take 5% of the donation to help support the site. The rest goes to the shelter!
        
        form(action='/charge', method='POST')
          script.stripe-button(
            src = 'https://checkout.stripe.com/checkout.js',
            data-email = '',
            data-key = 'pk_test_H2UTCXDnMnLk4fenwedAlFty',
            data-name = 'Kibbl',
            data-amount = '1000',
            data-allow-remember-me = 'false'
          )
        
  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(ng-click="selectedPet = {}") Cancel

div.row      
  ul.pagination
    li.disabled
      a(href='#!')
        i.material-icons chevron_left
    li.active
      a(href='#!') 1
    li.waves-effect
      a(href='#!') 2
    li.waves-effect
      a(href='#!') 3
    li.waves-effect
      a(href='#!') 4
    li.waves-effect
      a(href='#!') 5
    li.waves-effect
      a(href='#!')
        i.material-icons chevron_right
    
