extends layout

block content
  section.container
    div.col-md-6.col-md-offset-3
      h2 Register
      form(action='/register', method='post')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Login
      hr
      p
        | Need an account? 
        a(href='/signup') Signup
      p
        | Or go 
        a(href='/') home
        | .
