.container-fluid.banner
  .container
    h1.text-center {{pet.name}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-1
    .col-md-3(ng-repeat="photo in pet.media", style="height:300px", ng-if='$index % 5 === 3')
      img(src="{{photo}}", style="width:100%;")

  .row
    .col-md-4
      .well
        h3 Details
        ul
          li Age: {{pet.age}}
          li Type: {{pet.animal}}

        h3 Breed
        ul
          li(ng-repeat="breed in pet.breeds") {{breed}}

    .col-md-8
      .well
        h3 Description
        p {{pet.description}}
