.container
  .jumbotron
      .container
        h1 Pets
        p
          | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn mor

.container
  div.col-md-12.well(style="min-height:100px;")  
    div.form-group.col-md-2
      label Location
      input(ng-model='filters.location', type='text')
    
    div.col-md-2(input-field='')
      label Type
      br
      select(ng-model='filters.type', material-select='', watch='')
        option(ng-repeat='option in petTypes', value="{{option.value}}") {{option.key}}
    
    .input-field.col-md-2
      label Breed
      input(ng-model='filters.breed', type='text')
    
    div.col-md-2(input-field='')
      label Age
      br
      select(ng-model='filters.age', material-select='', watch='')
        option(ng-repeat='option in petAges', value="{{option.value}}") {{option.key}}
    
    
    div.col-md-2(input-field='')
      label Gender
      br
      select(ng-model='filters.gender', material-select='', watch='')
        option(ng-repeat='option in petGenders', value="{{option.value}}") {{option.key}}
    
//- @TODO: We need to show pets that have no photo!
.container
  div.row
    div.col-md-4.grid-item(ng-repeat="pet in pets", ng-if="pet.media[3]")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href="/pets/{{pet._id}}", style='display:block')
              img(src='{{pet.media[3]}}', alt='Loading image...')
            h3.card-image-headline {{pet.name}}
          .card-body
            p {{pet.description}}
          footer.card-footer
            if(user)
                a.favorited(ng-click="favorite(pet._id, $index)", style="width: 40px;", ng-class="{active: pet.userFavorited}")
                  button.btn.btn-flat Share
              else
                a.favorited.modal-trigger(href='#loginModel', ng-click="isFavoriting = true; setPetToFavorite(pet._id, $index)", style="width: 40px;")
                  button.btn.btn-flat.btn-warning Learn More
            
.modal.modal-fixed-footer(id="loginModel")
  .modal-content
    h4 Login
    .row
      form.col.s12
        .row
          .input-field.col.s12
            input#email.validate(type='email', ng-model="loginDetails.email")
            label(for='email') Email
          .input-field.col.s12
            input#last_name.validate(type='password', ng-model="loginDetails.password")
            label(for='last_name') Password
  .modal-footer
    a.modal-action.waves-effect.red.lighten-3.btn-flat(ng-click="login()") Login

.modal.modal-fixed-footer(id="petModel")
  .modal-content
    h4 Inquiry to Adopt: {{selectedPet.name}}
    .row
      form.col.s12
        .row
          .input-field.col.s6
            input#first_name.validate(type='text', ng-model="contactDetails.first_name")
            label(for='first_name') First Name
          .input-field.col.s6
            input#last_name.validate(type='text', ng-model="contactDetails.last_name")
            label(for='last_name') Last Name
        .row
          .input-field.col.s12
            input#email.validate(type='email', ng-model="contactDetails.email")
            label(for='email') Email
        .row
          .col.s12
            label(for='message') Message
            textarea#message.validate(type='message', ng-model="contactDetails.message")
            
.modal.modal-fixed-footer(id="petDonate")
  .modal-content
    h4 Donate to Adopt: {{selectedPet.name}}
    .row
      div
        | Thanks for helping the animals. Your donation will go a long way to help the [insert-animal-shelter]
        | Please note that we take 5% of the donation to help support the site. The rest goes to the shelter!
        
        form(action='/charge', method='POST')
          script.stripe-button(
            src = 'https://checkout.stripe.com/checkout.js',
            data-email = '',
            data-key = 'pk_test_H2UTCXDnMnLk4fenwedAlFty',
            data-name = 'Kibbl',
            data-amount = '1000',
            data-allow-remember-me = 'false'
          )
        
  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(ng-click="selectedPet = {}") Cancel

div.row      
  ul.pagination
    li.disabled
      a(href='#!')
        i.material-icons chevron_left
    li.active
      a(ng-click="queryPage(1)") 1
    li.waves-effect
      a(ng-click="queryPage(2)") 2
    li.waves-effect
      a(href='#!') 3
    li.waves-effect
      a(href='#!') 4
    li.waves-effect
      a(href='#!') 5
    li.waves-effect
      a(href='#!')
        i.material-icons chevron_right
    
