.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Pets
    
    div.form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text')
    
    div.form-group.col-md-2(input-field='')
      label Type
      br
      select.form-control(ng-model='filters.type', material-select='', watch='')
        option(ng-repeat='option in petTypes', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      label Breed
      input.form-control(ng-model='filters.breed', type='text')
    
    div.form-group.col-md-2(input-field='')
      label Age
      br
      select.form-control(ng-model='filters.age', material-select='', watch='')
        option(ng-repeat='option in petAges', value="{{option.value}}") {{option.key}}

    div.form-group.col-md-2(input-field='')
      label Gender
      br
      select.form-control(ng-model='filters.gender', material-select='', watch='')
        option(ng-repeat='option in petGenders', value="{{option.value}}") {{option.key}}
    
//- @TODO: We need to show pets that have no photo!
.container
  div.row
    div.col-md-4.grid-item(ng-repeat="pet in pets", ng-if="pet.media[3]")
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href="/pets/{{pet._id}}", style='display:block')
              img(ng-src='{{pet.media[3]}}', alt='Loading image...')
            h3.card-image-headline {{pet.name}}
          .card-body
            p {{pet.description | limitTo: 140}}
          footer.card-footer
            button.btn.btn-flat Share
            button.btn.btn-flat.btn-warning Learn More

.modal.modal-fixed-footer(id="petModel")
  .modal-content
    h4 Inquiry to Adopt: {{selectedPet.name}}
    .row
      form.col.s12
        .row
          .input-field.col.s6
            input#first_name.validate(type='text', ng-model="contactDetails.first_name")
            label(for='first_name') First Name
          .input-field.col.s6
            input#last_name.validate(type='text', ng-model="contactDetails.last_name")
            label(for='last_name') Last Name
        .row
          .input-field.col.s12
            input#email.validate(type='email', ng-model="contactDetails.email")
            label(for='email') Email
        .row
          .col.s12
            label(for='message') Message
            textarea#message.validate(type='message', ng-model="contactDetails.message")