.container-fluid(window-resize, style='padding:0px;', offset="40", uib-collapse="filterCollapsed", ng-class="{collapsed: filterCollapsed}")
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-1
      h1(ng-if='!loading') Pets
      h1.loader(ng-if='loading') Loading...
      button.btn.btn-primary.btn-raised.visible-xs(ng-click='filter();filterCollapsed = true') Filter
    
    .form-group.col-md-2
      label Search
      input.form-control(ng-model='filters.search', type='text')
    
    div.form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    div.form-group.col-md-1(input-field='')
      label Type
      br
      select.form-control(ng-model='filters.type', material-select='', watch='')
        option(ng-repeat='option in petTypes', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      label Breed
      input.form-control(ng-model='filters.breed', type='text', uib-typeahead="breed for breed in currentBreeds | filter:$viewValue | limitTo:8" )
    
    div.form-group.col-md-1(input-field='')
      label Age
      br
      select.form-control(ng-model='filters.age', material-select='', watch='')
        option(ng-repeat='option in petAges', value="{{option.value}}") {{option.key}}

    div.form-group.col-md-1(input-field='')
      label Gender
      br
      select.form-control(ng-model='filters.gender', material-select='', watch='')
        option(ng-repeat='option in petGenders', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      button.btn.btn-primary.btn-raised.hidden-xs(ng-click='filter()') Filter
    
.container
  button.btn.btn-success.btn-raised.visible-xs.filter-toggle(ng-click='toggleFilter()') Toggle Filter
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1")
    include ./pet-list-item
