.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Pets
    
    div.form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text', googleplace-autocomplete, googleplace-autocomplete-place='filters.autocomplete')
    
    div.form-group.col-md-1(input-field='')
      label Type
      br
      select.form-control(ng-model='filters.type', material-select='', watch='')
        option(ng-repeat='option in petTypes', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      label Breed
      input.form-control(ng-model='filters.breed', type='text')
    
    div.form-group.col-md-1(input-field='')
      label Age
      br
      select.form-control(ng-model='filters.age', material-select='', watch='')
        option(ng-repeat='option in petAges', value="{{option.value}}") {{option.key}}

    div.form-group.col-md-1(input-field='')
      label Gender
      br
      select.form-control(ng-model='filters.gender', material-select='', watch='')
        option(ng-repeat='option in petGenders', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      button.btn.btn-primary.btn-raised(ng-click='filter()') Filter
    
.container
  div.row(infinite-scroll="scroll()", infinite-scroll-distance="1")
    div.col-md-4.grid-item(ng-repeat="pet in pets", style="height:200px; overflow:hidden; border-radius: 5px;")
      a(href='/pets/{{pet._id}}')
        .grid-content.gradient(ng-if='!pet.media[3]')
        .grid-cotent.bg-img(ng-if='pet.media[3]', style='background-image:url("{{pet.media[3]}}")')
          h3 {{pet.name}}
        //- img(ng-if='!pet.media[3]', src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
        //- img(ng-if='pet.media[3]', ng-src='{{pet.media[3]}}', alt='Loading image...')
    //- div.col-md-4.grid-item(ng-repeat="pet in pets")
    //-   .card
    //-     .card-height-indicator
    //-     .card-content
    //-       .card-image
    //-         a(href="/pets/{{pet._id}}", style='display:block')
    //-           img(ng-if='!pet.media[3]', src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
    //-           img(ng-if='pet.media[3]', ng-src='{{pet.media[3]}}', alt='Loading image...')
    //-         h3.card-image-headline {{pet.name}}
    //-       .card-body
    //-         p {{pet.description | limitTo: 140}}
    //-       footer.card-footer
    //-         button.btn.btn-flat Share
    //-         button.btn.btn-flat.btn-warning Learn More
