.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Notifications

.row(ng-if='notifications.length === 0')
  .col-md-6.col-md-offset-3.well
    h2.text-center No subscriptions yet!

div.row  
  div.col-md-12
    .list-group.row(ng-repeat="notification in notifications")
      h3.text-center {{notification.shelterId.name}}
      div.col-md-12(ng-if='notification.newPets')
        h4.text-center New Pets
        div.col-md-4.grid-item(ng-repeat="pet in notification.newPets", style="height:200px; overflow:hidden; border-radius: 5px;")
          a(href='/pets/{{pet._id}}')
            .grid-content.gradient
              .col-md-4
                .image-circle(ng-if='!pet.media[0].urlSecureThumbnail', style='background-image:url(../images/kibbl-logo-dog.png)')
                //- .image-circle(ng-if='pet.media[3]', style='background-image:url({{pet.media[3]}})')
                .image-circle(ng-if='pet.media[0].urlSecureThumbnail', style='background-image:url({{pet.media[0].urlSecureThumbnail}})')
              .col-md-8
                h3 {{pet.name}}
                h5 {{pet.description | limitTo: 100}} ...
        
      div.col-md-12(ng-if='notification.updatedPets')
        h4.text-center Updated Pets
        div.col-md-4.grid-item(ng-repeat="pet in notification.updatedPets", style="height:200px; overflow:hidden; border-radius: 5px;")
          a(href='/pets/{{pet._id}}')
            .grid-content.gradient
              .col-md-4
                .image-circle(ng-if='!pet.media[0].urlSecureThumbnail', style='background-image:url(../images/kibbl-logo-dog.png)')
                //- .image-circle(ng-if='pet.media[3]', style='background-image:url({{pet.media[3]}})')
                .image-circle(ng-if='pet.media[0].urlSecureThumbnail', style='background-image:url({{pet.media[0].urlSecureThumbnail}})')
              .col-md-8
                h3 {{pet.name}}
                h5 {{pet.description | limitTo: 100}} ...
      
      div.col-md-12(ng-if='notification.newEvents')
        h4.text-center New Events
        div.col-md-4.grid-item(ng-repeat="event in notification.newEvents", style="height:200px; overflow:hidden; border-radius: 5px;")
          a(href='/events/{{event._id}}')
            .grid-content.gradient
              .col-md-4
                .image-circle(ng-if='!event.facebook.cover', style='background-image:url(../images/kibbl-logo-dog.png)')
                .image-circle(ng-if='event.facebook.cover', style='background-image:url({{event.facebook.cover}})')
              .col-md-8
                h3 {{event.name}}
                h5 {{event.start_time | date : "medium" }}
      
      div.col-md-12(ng-if='notification.updatedEvents')
        h4.text-center Updated Events
        div.col-md-4.grid-item(ng-repeat="event in notification.updatedEvents", style="height:200px; overflow:hidden; border-radius: 5px;")
          a(href='/events/{{event._id}}')
            .grid-content.gradient
              .col-md-4
                .image-circle(ng-if='!event.facebook.cover', style='background-image:url(../images/kibbl-logo-dog.png)')
                .image-circle(ng-if='event.facebook.cover', style='background-image:url({{event.facebook.cover}})')
              .col-md-8
                h3 {{event.name}}
                h5 {{event.start_time | date : "medium" }}
