.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Messages

.row(ng-if='messages.length === 0')
  .col-md-6.col-md-offset-3.well
    h2.text-center No messages yet!

div.row  
  div.col-md-6.col-md-offset-3
    .list-group(ng-repeat="message in messages")
      .list-group-item
        .row-picture
          img.circle(ng-src='../images/kibbl-logo-dog.png', alt='icon')
        .row-content
          h4.list-group-item-heading {{message._id}}
          a.btn.btn-flat.btn-raised.btn-primary(href='/messages/{{message._id}}') View
      .list-group-separator
