.container-fluid.banner
  .container
    h1.text-center Conversation with {{convoEmail}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-6.col-md-offset-3
      h3 Conversation
      .well.col-md-12
        h3.col-md-12 Reply
        .col-md-12
          textarea.form-control.col-md-8(placeholder="", ng-model='text')
          button.btn.btn-raised.pull-right(ng-click='sendMessage(text)') Send
        
      .well.col-md-12
        .list-group(ng-repeat="message in messages")
          .list-group-item
            .row-picture
              img.circle(ng-src='../images/kibbl-logo-dog.png', alt='icon')
            .row-content
              h4.list-group-item-heading {{message.email}}
              p.list-group-item-text {{message.message | limitTo:140}}
          .list-group-separator
