.container-fluid.banner
  .container
    h1.text-center Conversation with {{pet.name}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-6.col-md-offset-3
      .well
        h3 Description
        p {{pet.description}}
