.container-fluid.banner
  .container
    h1.text-center {{volunteer.name}}

.container(style="margin-top: 2rem;")
  .row
    .col-md-4
      .well
        h3 Details
        ul
          li Phone: {{volunteer.contact.phone}}
          li Email: {{volunteer.contact.email}}

      .well
        h3 Actions
        ul
          li
            button.btn.btn-raised.btn-primary Favorite
          li
            button.btn.btn-raised.btn-primary Share
          li
            button.btn.btn-raised.btn-primary Contact

    .col-md-8
      .well(style="height:250px", ng-if='volunteer.media')
        .col-md-3(ng-repeat="photo in volunteer.media", ng-if='$index % 5 === 3')
          img(ng-src="{{photo}}", style="width:100%;")
      .well
        h3 Description
        p {{volunteer.description}}
