.container-fluid(style='padding:0px;')
  div.col-md-12.well(style="min-height:100px;")  
    .form-group.col-md-2
      h1 Volunteer

    div.form-group.col-md-2
      label Location
      input.form-control(ng-model='filters.location', type='text')
    
    div.form-group.col-md-2(input-field='')
      label Type
      br
      select.form-control(ng-model='filters.type', material-select='', watch='')
        option(ng-repeat='option in petTypes', value="{{option.value}}") {{option.key}}
    
    .form-group.col-md-2
      label Breed
      input.form-control(ng-model='filters.breed', type='text')
    
    div.form-group.col-md-2(input-field='')
      label Age
      br
      select.form-control(ng-model='filters.age', material-select='', watch='')
        option(ng-repeat='option in petAges', value="{{option.value}}") {{option.key}}

.container
  div.row
    div.col-md-4.pet-grid-item(ng-repeat="opportunity in opportunites", style='400px;')
      .card
        .card-height-indicator
        .card-content
          .card-image
            a(href='/volunteer/{{opportunity._id}}', style='display:block')
              img(src='//www.petfinder.com/wp-content/uploads/2016/08/right-desktop@2x.jpg', alt='Loading image...')
            h3.card-image-headline {{opportunity.name}}
          .card-body
            p {{opportunity.description}}
          footer.card-footer
            a.btn.btn-flat.btn-primary(href='/volunteer/{{opportunity._id}}') 
              | Learn More

